<div id="<%= dom_id profile %>">
  <p>
    <strong>First name:</strong>
    <%= profile.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= profile.last_name %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= profile.location %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= profile.genre %>
  </p>

  <p>
    <strong>Cellphone:</strong>
    <%= profile.cellphone %>
  </p>

  <p>
    <strong>Bank account:</strong>
    <%= profile.bank_account %>
  </p>

  <p>
    <strong>Bank money:</strong>
    <%= profile.bank_money %>
  </p>

  <p>
    <strong>Birth:</strong>
    <%= profile.birth %>
  </p>

</div>
