<div id="<%= dom_id article %>" class="articleCard">
  <div class="ui items">
    <div class="item">
      <div class="ui small image">
        <% if article.images.present? %>
          <%= image_tag(article.images[0]) %>
        <% else %>
          <img src="<%= asset_path( 'item.png' ) %>">
        <% end %>
      </div>
      <div class="middle aligned content">
        <div class="mainSectionCard">
          <div>
            <div class="ui small header">
              Article: <strong><%= article.title %></strong>
            </div>
            <div>
              <small><strong>ID:</strong> <%= article.id %></small>
            </div>
          </div>
          <div>
            <p>
              <%= link_to "Show", article, class:"ui teal button"  if !(request.path === article_path(article)) %>
            </p>
          </div>
        </div>
        <div class="description">
          <p>
            <strong>Description:</strong> <%= article.description %>
          </p>

          <% if article.images.attached? %>
            <div class="imagesSectionCard">
              <% article.images.each do |image| %>
                <div class="singleImageCard">
                  <%= image_tag(image, width: 150) %>
                </div>
              <% end %>
            </div>
          <% end %>
          <br>
          <div class="articleAttributes">
            <div class="singleAttribute">
              <% if article.stock > 0 %>
                <span class="ui green label">Available.</span>
              <% else %>
                <span class="ui red label">Unavailable.</span>
              <% end %>
            </div>
            <div class="singleAttribute">
              <p class="ui tag labels">
                <strong>Price:</strong>
                <span class="ui label"><%= article.price %></span>
              </p>
            </div>
            <div class="singleAttribute">
              <strong>Stock:</strong>
              <span class="ui label"><%= article.stock %></span>
            </div>
          </div>

          <div>
            <div class="ui list">
              <div class="item" style="display:flex;">
                <div>
                  <%= image_tag(article.user.profile.avatar, width: 50, class:"roundedImage" ) if article.user.profile.avatar.attached? %>
                  <% if !article.user.profile.avatar.attached? %>
                    <img src="<%= asset_path( 'no-profile.png' ) %>" width= "50px" >
                  <% end %>
                </div>
                <div class="content" style="margin: auto auto auto 10px">
                  <span class="header"><%= link_to "#{article.user.profile.first_name} #{article.user.profile.last_name}", profile_path(article.user.profile) %></span>
                  <small><div class="description">Created: <b><%= time_ago_in_words(article.created_at) %>.</b></div></small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>