<%= turbo_stream_from "articles" %>
<div style="display: flex; flex-direction: column; margin: 100px 50px 50px 50px; padding: 30px;">
  <div style="margin: 0px auto 50px auto;">
    <h2><%= @article.title %></h2>
  </div>
  <div style="margin: 0px auto 50px auto; display:flex; flex-direction: column;">
    <%= render @article %>
    <div style="margin: 0px auto 20px auto;">
      <% if @article.user != current_user && @article.stock > 0 %>
        <%= render 'orders/form' %>
      <% elsif @article.user == current_user %>
        <b>You own this article.</b><br>
      <% elsif @article.stock <= 0 %>
        <b>There aren't many articles in stock.</b><br>
      <% end %>
    </div>
  </div>
  <div style="text-align: center;">
    <%= link_to "Back", root_path, class:"ui red button" %>
  </div>
</div>