<%= form_with url: add_to_my_car_path, method: :get do |form|  %>
    <div>
        <%= form.label 'Quantity: ' %>
        <%= form.number_field :quantity %>
    </div>
    <div>
        <%= form.hidden_field :article, :value => @article.id %>
    </div>
    <div>
        <%= form.submit 'Add' %>
    </div>
<% end %>
