<div style="display: flex; flex-direction: column; margin: 150px auto 100px auto; padding: 30px;">
  <div style="margin: 0px auto 50px auto;">
    <h1>Log in</h1>
  </div>
  <div class="ui form">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "example@gmail.com" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <br>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <div class="ui checkbox">
            <%= f.check_box :remember_me, class:"hidden" %>
            <%= f.label :remember_me %>
          </div>
        </div>
      <% end %>

      <br><br>

      <div class="actions">
        <%= f.submit "Log in", data: {turbo: false}, class:"ui yellow button" %>
      </div>
    <% end %>
    <br>
    <%= render "devise/shared/links" %>
  </div>
</div>
<br>