<!DOCTYPE html>
<html>
  <head>
    <title>Yorchstore</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('y-logo.png') %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <header>
      <%= render 'shared/header' %>
    </header>

    <% if notice %>
      <%= render 'shared/notice' %>
    <% elsif alert %>
      <%= render 'shared/alert' %>
    <% end %>


    <%= yield %>

    <footer>
    </footer>

  </body>
</html>
